<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
        <link type="text/css" rel="stylesheet" href="/static/bootstrap.css">
        <title>CS 253 Blog</title>
    </head>

    <body>

        <!--- ********* Navigation ********* -->
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">CS253 Blog</a>
            <ul class="nav pull-right">
                <li><a href="/blog">Read the Blog</a></li>
                <li><a href="/blog/newpost">New Post</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- navbar-inner -->
    </div><!-- navbar -->

        <!-- ********* Content ********* -->
    <div class="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div><!--container-->

    </body>
</html>